.skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}

.frontend,
.backend,
.testing,
.devops {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.stack {
  position: relative;
}

.title h3 {
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
