.name {
  transition: all 0.3s ease-in-out;
}

.greet {
  cursor: default;
  transition: all 0.3s ease-in-out;
}

.greet:hover .hello {
  animation: shakeOnHover 700ms ease-out 1;
}

.greet:hover .name {
  transition: color 300ms;
  color: white;
}

@keyframes shakeOnHover {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1080px) {
  .greet {
    font-size: 2.6rem;
  }
}

@media (max-width: 720px) {
  .image {
    display: none;
  }
  .heroContainer {
    padding: 2rem;
    margin-top: 6rem;
  }
}
