.form label {
  font-size: 0.9rem;
}

.form input,
.form textarea {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
}

.form input:focus,
.form textarea {
  outline: none;
}

.btn {
  background: #a45af5;
  padding: 0.3rem 0.5rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  transition: all 500ms;
  border-radius: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #23b1d6;
}

.emailBtn {
  background: #6622ae;
  padding: 0.3rem 0.5rem;
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
  transition: all 500ms;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: white;
}

.emailBtn:hover {
  background: #a559f6;
  color: white;
}

.googleCalendar {
  background: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  opacity: 95%;
  transition: all 300ms;
  height: 560px;
  width: 70vw;
  overflow: auto;
}

.googleCalendar:hover {
  opacity: 100%;
}

.appointments {
  width: 100%;
  height: 100%;
}

@media (max-width: 720px) {
  .eager {
    padding: 1rem;
    margin: 0.2rem 0rem;
    font-size: 1.4rem;
    text-align: center;
  }

  .contactForm {
    width: 90%;
  }

  .contactForm form {
    width: 90%;
  }

  .emailBtn {
    width: 75%;
  }

  .googleCalendar {
    width: 95vw;
  }
}
