.form label {
  font-size: 0.9rem;
}

.form input,
.form textarea {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
}

.form input:focus,
.form textarea {
  outline: none;
}

.btn {
  background: #a45af5;
  padding: 0.3rem 0.5rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  transition: all 500ms;
  border-radius: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #23b1d6;
}

.emailBtn {
  background: #d9c9ea;
  padding: 0.3rem 0.5rem;
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
  transition: all 500ms;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.emailBtn:hover {
  background: #786889;
  color: white;
}
